#cboxPrevious {
	position: absolute;
	width: 47px !important;
	height: 70px;
	left: 3%;
	top: 47%;
	background: image-url('seta-esquerda.png') no-repeat !important;
	content: none;
}
#cboxNext {
	position: absolute;
	width: 47px !important;
	height: 70px;
	right: 3%;
	top: 47%;
	background: image-url('seta-direita.png') no-repeat !important;
	content: none;
}

#cboxClose {
	position: absolute;
	top: 5%;
	right: 2%;
	display: block;
	background: image-url('bg-close.png') no-repeat top center !important;
	width: 38px !important;
	height: 19px;
	text-indent: -9999px;
}
#cboxCurrent {
	position: absolute;
	bottom: 24px;
	left: 40%;
	font-size: 16px;
	color: #a9a8a7;
	font-family: "HelveticaNeueLTPro-Cn";
}
#cboxLoadedContent {
	.item {
		width: 100%;
		height: 100%;
		background-size: 100% auto;
		background-position: center;
		.details {
			height: 60px;
			background-color: rgba(0, 0, 0, 0.58);
			width: 100%;
			position: absolute;
			bottom: 0;
			color: #FFF;
			text-transform: uppercase;
			font-family: "HelveticaNeueLTPro-Cn";
			font-size: 16px;
			padding: 20px;
			.content {
				width: 100%;
				height: 60px;
				position: relative;
				.text {
					position: absolute;
					left: 0;
					max-width: 40%;
				}
				.share {
					position: absolute;
					right: 0;
					height: 30px;
					// width: 40%;
					span {
						float: left;
						margin-top: 5px;
					}
					p{
						float: left;
					}
					.fb-share-button {
						float: left;
						margin-left: 10px;
						margin-top: -7px;
					}
					.twitter {
						float: left;
						margin-left: 10px;
						margin-top: -2px;
					}
					.gplus {
						float: left !important;
						width: 75px !important;
						margin-left: -20px !important;
						margin-top: -4px !important;
					}
				}
			}
			
			

		}
	}
}
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose{
	outline: none;
}