
.title {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.62);
	.container {
		padding-top: 1%;
		h1 {
			color: #FFF;
			text-transform: uppercase;
			font-family: "HelveticaNeueLTPro-UltLt";
			font-size: 70px;
			@media screen and (min-width: 1380px){
				font-size: 90px;
			}
		}
	}
}
.radius{
	position: absolute;
	background: image-url('radius.png') no-repeat left center;
	top: 0px;
	right: 0;
	height: 100%;
	width: 28%;
	z-index: 100;
}
.mapa {
	background-color: #FFF;
	position: absolute;
	top: 0px;
	right: 0;
	height: 100%;
	width: 28%;
	@include border-radius(100% 0 0 100%);
	overflow: hidden;
	iframe{
		@include border-radius(100% 0 0 100%);
	}
	// #gmap_canvas{
	// 	@include border-radius(100% 0 0 100%);
	// 	background-color: #FFF;
	// 	position: absolute;
	// 	top: 0px;
	// 	right: 0;
	// 	height: 100%;
	// 	width: 28%;
	// 	overflow: hidden;
	// 	z-index: 10;
	// 	strong{
	// 		font-weight: bold;
	// 	}
	// }
}
.contato{
	.col-md-3{
		margin-top: 15px;
		height: 115px;
		img{
			display: block;
			margin: 0 auto;
			padding: 10px 0;
		}
		p{
			font-family: "HelveticaNeueLTPro-Cn";
			color: #FFF;
			text-align: center;
			font-size: 16px;
			text-transform: uppercase;
		}
		&.right{
			border-right: 1px solid #8d7b6b;
		}
		&.left{
			border-left: 1px solid #8d7b6b;
		}
	}
}
.contato-form{
	.mrg25{
		margin-top: 20px;
		margin-right: 25%;
		h1{
			margin-bottom: 15px;
			font-size: 28px;
			font-family: "HelveticaNeueLTPro-UltLt";
			color: #FFF;
			text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
			text-transform: uppercase;
		}
		p{
			font-size: 14px;
			line-height: 130%;
			margin-bottom: 15px;
			color: #FFF;
			text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
			font-family: "HelveticaNeueLTPro-Cn";
			text-transform: uppercase;
		}
	}
	.form{
		.col-md-3{
			padding: 0;
		}
		input{
			width: 100%;
			margin: 0px auto;
			margin-bottom: 10px;
			display: block;
			font-family: "HelveticaNeueLTPro-Cn";
		}
		::-webkit-input-placeholder { /* WebKit browsers */
			color: #6a3e34;
			text-transform: uppercase;
		}
		:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
			color: #6a3e34;
			text-transform: uppercase;
			opacity:  1;
		}
		::-moz-placeholder { /* Mozilla Firefox 19+ */
			color: #6a3e34;
			text-transform: uppercase;
			opacity:  1;
		}
		:-ms-input-placeholder { /* Internet Explorer 10+ */
			color: #6a3e34;
			text-transform: uppercase;
		}
		textarea{
			width: 100%;
			height: 62px;
			font-family: "HelveticaNeueLTPro-Cn";
		}
		textarea::-webkit-input-placeholder { /* WebKit browsers */
			color: #6a3e34;
			text-transform: uppercase;
		}
		textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
			color: #6a3e34;
			text-transform: uppercase;
			opacity:  1;
		}
		textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
			color: #6a3e34;
			text-transform: uppercase;
			opacity:  1;
		}
		textarea:-ms-input-placeholder { /* Internet Explorer 10+ */
			color: #6a3e34;
			text-transform: uppercase;
		}
	}
	p{
		font-family: "HelveticaNeueLTPro-Cn";
		font-size: 13px;
		color: #FFF;
	}
	input[type="submit"] {
		float: right;
		margin-right: 26.3%;
		background-color: transparent;
		border: none;
		background: image-url('check.png') #1b0e08 no-repeat 10px center;
		width: 110px;
		height: 35px;
		color: #FFF;
		font-size: 16px;
		font-family: "HelveticaNeueLTPro-Cn";
		margin-top: -15px;
	}
}