@import "compass/reset";
@import "compass/css3";
@import "variables";
@import "fonts";

html {
	@media screen and (max-width:1366px){
		// zoom: 75%;
	}
}

* {
	@include box-sizing("border-box");
	font-family: "Helvetica";
}
.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.place-card.place-card-large{
	display: none !important;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

header {
	height: 213px;
	background-image: image-url("bg-header.jpg");
	.bg-4-rodas {
		position: absolute;
		top: 0;
		right: 0;
		background-image: image-url("bg-4-rodas.png");
		background-repeat: no-repeat;
		width: 127px;
		height: 127px;
	}
	a {
		outline: none;
	}
	.container {
		background-image: image-url("bg-folhas.png");
		background-repeat: no-repeat;
		background-position: center 30px;
		text-align: center;

		.logo {
			margin-top: -18px;
			img {
				margin: 0 auto;
			}
		}
		.social-icons {
			float: left;
			margin-top: -45px;
			img {
				display: inline-block;
				padding: 5px;
			}
			.popover {
				max-width: none;
			}
			.popover-content {
				padding: 20px;
				width: 325px;
				font-family: "Helvetica-Neue-Cn";
				.title {
					font-size: 16px;
					color: #8b8b8b;
					text-transform: uppercase;
				}
				.input {
					font-size: 14px;
					margin-top: 5px;
					width: 204px;
					padding: 10px;
					padding-bottom: 0;
					text-transform: uppercase;
				}
				#submit-news {
					margin-top: 10px;
					background-image: image-url("btn-enviar.png");
					background-repeat: no-repeat;
					width: 64px;
					height: 22px;
					float: right;
				}
			}
		}
		.facebook {
			width: 230px;
			margin-top: -45px;
			float: right;
			.text {
				float: left;
				font-family: "Helvetica-Neue-BdCn";
				padding-top: 7px;
				font-size: 12px;
				color: #999999;
				text-transform: uppercase;
			}
		}
	}
	nav {
		width: 100%;
		background-color: #f7efef;
		
		height: 64px;
		border-bottom: 7px solid #efe1e1;
		text-align: center;
		.container {
			background-image: image-url("curva-centro.jpg");
			background-repeat: no-repeat;
			background-position: center 3px;
		}
		ul {
			&.menu-left {
				float: left;
			}
			&.menu-right {
				float: right;
			}
			li {
				height: 64px;
				font-family: "Helvetica-Neue-BdCn";
				display: inline-block;
				text-transform: uppercase;
				padding: 0 10px;
				padding-top: 22px;
				font-size: 14px;
				background-color: none;
				border-bottom: none;
	
				&:hover {
					background-color: #faf4f4;
					border-bottom: 7px solid #efe1e1;
					a {
						color: #6fd3d3;
					}
				}
				a {
					color: #b4adab;
					&:hover {
						text-decoration: none;
					}
				}
			}
		}
	}
}
.btn-voltar {
	margin-bottom: 40px;
	width:170px;
	padding: 5px;
	background: image-url('btn-voltar.png') rgba(0, 0, 0, 0.53) no-repeat 5px center;
	.voltar{
		padding-left: 15px;
		color: #FFF;
		text-transform: uppercase;
		font-family: "HelveticaNeueLTPro-UltLt";
		font-size: 12px;
		text-decoration: none;
	}
}
.content-home {
	.bx-wrapper {
		margin: 0;
		.bx-prev {
			background: image-url('seta-esquerda.png') no-repeat;
			left: 5%;
		}
		.bx-next {
			background: image-url('seta-direita.png') no-repeat;
			right: 5%;
		}
		.bx-controls-direction {
			a {
				width: 47px;
				height: 70px;
				top: 47%;
			}
		}
		.bx-pager {
			bottom: 0px;
			&.bx-default-pager {
				a {
					background: #FFF;
					border: none;
					&:hover {
						background: #00b2af;
					}
					&.active {
						background: #00b2af;
					}
				}
			}
		}
		.bx-viewport {
			border: none;
			left: 0;
			background: transparent;
			-webkit-box-shadow: black 0px 0px 0px;
			-moz-box-shadow: black 0px 0px 0px;
			box-shadow: black 0px 0px 0px;
			
			.bxslider {
				li {
					width: 100%;
					background-size: cover;
				}
			}
		}
	}
}
.content-produto {
	@extend .content-home;
	.bx-wrapper {
		.bx-pager {
			bottom: -60px;
			&.bx-default-pager {
				a {
					background: #FFF;
					border: none;
					&:hover {
						background: #00b2af;
					}
					&.active {
						background: #00b2af;
					}
				}
			}
		}
	}
	width: 100%;
	background-image: image-url("bg-produto-slider.jpg");
	background-size: cover;
	background-repeat: no-repeat;

	.title-slider {
		padding-top: 25px;
		height: 130px;
		font-family: "HelveticaNeueLTPro-UltLt";
		margin: 0;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.53);
		color: #FFF;
		margin-bottom: 3%;
		padding-bottom: 10px;
		.first {
			font-size: 90px;
			text-transform: uppercase;
			margin-top: -4px;
		}
		.last {
			line-height: 140%;
			font-size: 14px;
			font-family: "HelveticaNeueLTPro-Cn";
			padding-top: 3px;
			a{
				color: #FFF;
				text-decoration: underline;
			}
		}
	}
	.controls-direction {
		&:hover {
			cursor: pointer;
		}
		position: absolute;
		width: 47px;
		height: 70px;
		top: 63%;
	}
	.content-slider {
		position: relative;
		text-align: center;
		.container {
			padding-left: 7%;
			margin-top: 5%;
		}
		.border-image {
			margin: 0 auto;
			position: relative;
			width: 250px;
			height: 250px;
			float: left;
			margin-right: 5px;
			overflow: hidden;
			border: 14px solid rgba(127, 96, 91, 0.66);
			@include border-radius(100%);
			margin: 30px;
			&.last{
				@media screen and (min-width:1360px) {
					margin-left: 31%;
				}
			}
			.image {
				width: 100%;
				height: 100%;
				background-repeat: no-repeat;
				overflow: hidden;
			}
			.text {
				display: none;
				position: absolute;
				color: #FFF;
				font-family: "HelveticaNeueLTPro-UltLt";
				font-size: 32px;
				background: rgba(0, 0, 0, 0.85);
				top: 0;
				right: 0;
				width: 100%;
				height: 100%;
				padding-top: 100px;
				text-align: center;
				text-transform: uppercase;
			}
			&:last-child {
				margin-right: 0;
				.text {
					padding-top: 80px;
				}
			}
			&:hover {
				.text {
					display: block;
					cursor: pointer;
				}
			}
		}
	}
}
.content-chocolate {
	@extend .content-produto;
	background-image: image-url("bg-chocolate.jpg");
	.product-slider {
		.title-slider {
			margin-bottom: 10px;
			.last{
				padding-top: 23px;
			}
		}
	}
	#produtos {
		display: none;
		
	}
	.content-slider {
		.container {
			padding-left: 5%;
			&.emporio{
				padding-left: 22%;
			}
		}
		.border-image {
			display: block;
			width: 145px;
			height: 145px;
			margin-bottom: 10px;
			margin-top: 5px;
			outline: none;
			.text {
				font-size: 12px;
				padding-top: 52px;
				&:last-child {
					font-size: 12px;
					padding-top: 52px;
				}
			}
		}
	}
}
.content-historia {
	@extend .content-home;
	@extend .content-produto;
	background-image: image-url("nossa-historia.jpg");
	.title-slider {
		.last {
			padding-top: 4px;
		}
	}
	.bx-wrapper {
		.bx-pager {
			bottom: -12px;
			&.bx-default-pager {
				a {
					background: #FFF;
					border: none;
					&:hover {
						background: #00b2af;
					}
					&.active {
						background: #00b2af;
					}
				}
			}
		}
		.bx-controls-direction {
			a {
				width: 47px;
				height: 70px;
				top: 43%;
			}
		}
	}
	.bxslider-historia {
		li {
			.container {
				@media screen and (min-width:1360px) {
					margin-top: 6%;
				}
				@media screen and (max-width:1360px) {
					margin-top: 5%;
				}
			}
			.imagem {
				max-width: 30%;
				width: 25%;
				height: auto;
				@include border-radius(100%);
				border: 20px solid rgba(83, 66, 64, 0.52);
				float: left;
				overflow: hidden;
				position: relative;
				.bg {
					background-position: center;
					background-size: 100%;
					background-repeat: no-repeat;
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
				}
			}
			.texto {
				float: left;
				margin-left: 50px;
				max-width: 60%;
				.titulo {
					@extend .clearfix;
					.etapa {
						float: left;
						width: 60px;
						height: 60px;
						@include border-radius(100%);
						color : #a9a8a7;
						border: 5px solid #a9a8a7;
						text-align: center;
						font-family: "HelveticaNeueLTPro-Cn";
						font-size: 40px;
						padding-top: 5px;
					}
					.ano {
						margin-left: 20px;
						font-family: "HelveticaNeueLTPro-UltLtCn";
						float: left;
						color: #FFF;
						padding-top: 10px;
						font-size: 60px;
						margin-top: -12px;
					}
				}
				.conteudo {
					display: block;
					font-family: "HelveticaNeueLTPro-Cn";
					color: #FFF;
					font-size: 18px;
					line-height: 130%;
					margin-top: 20px;
				}
			}
		}
	}
}
.content-casa {
	@extend .content-historia;
	@extend .clearfix;
	position: relative;
	.title-slider {
		position: absolute;
		z-index: 200;
		top: 0;
		padding-top: 18px;
		.first {
			margin-top: 2px;
		}
		.last{
			padding-top: 0;
		}
	}
	.bx-wrapper {
		.bx-pager {
			bottom: 0px;
		}
		.bx-controls-direction {
			a {
				width: 47px;
				height: 70px;
				top: 56.6%;
			}
		}
	}
	.bxslider-casa {
		li {
			@extend .clearfix;
			position: absolute;
			z-index: 100;
			top: 0;
			background-size: cover;
			background-repeat: no-repeat;
		}
	}
}
.content-parceria {
	@extend .content-casa;
	.title-slider {
		.first {
			margin-top: 0px;
		}
		.last{
			padding-top: 14px;
		}
	}
	.bxslider-parceria {
		li {
			@extend .clearfix;
			position: absolute;
			z-index: 100;
			top: 0;
			background-image: image-url("bg-parceria.jpg");
			.content {
				margin-top: 150px;
				text-align: center;
				.logos {
					width: 266px;
					height: 130px;
					margin-top: 30px;
					float: left;
					&:hover {
						cursor: pointer;
						.logo-parceiro {
							display: none;
						}
						.logo-parceiro-hover {
							display: block;
						}
					}
					.logo-parceiro {
						width: 100%;
						height: 100%;
						background-position: center center;
						background-repeat: no-repeat;
					}
					.logo-parceiro-hover {
						@extend .logo-parceiro;
						display: none;
					}
				}
			}
		}
	}
}
.content-contato {
	background-image: image-url("bg-contato.jpg");
	background-position: center left;
	background-repeat: no-repeat;
	background-size: 100% auto;
	position: relative;
	overflow: hidden;
	@import "contact";
}
.footer {
	background-color: #00b2af;
	width: 100%;
	height: 72px;

	.container {
		position: relative;
		.address {
			padding: 20px 30px;
			p {
				padding-left: 30px;
				line-height: 120%;
			}
			text-align: left;
			color: #FFF;
			font-size: 14px;
			text-transform: uppercase;
			font-weight: 100;
			font-family: "HelveticaNeueLTPro-Cn";
			background: image-url("point.png") no-repeat rgba(51, 193, 191, 0.85) 30px center;
			border-top: 12px solid #c2edec;
			height: 70px;
			width: 350px;
			float: left;
		}
		.copyright {
			font-family: "HelveticaNeueLTPro-Cn";
			font-size: 12px;
			text-align: right;
			float: right;
			padding: 30px 5px;
			color: #FFF;
		}
		.developer {
			position: absolute;
			width: 20px;
			height: 20px;
			right: 20px;
			bottom: 0;
			background-color: rgba(51, 193, 191, 0.85);
			background-image: image-url("logo-desenvolvedor.png");
			background-position: center center;
			background-repeat: no-repeat;
		}
		.signature{
			position: absolute;
			right: 20px;
			bottom: 5px;
			width: 105px;
			height: 20px;
			background-image: image-url("assinatura.png");
			background-position: center center;
			background-repeat: no-repeat;
		}
	}
}
@import "colorbox";