<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<div style="overflow:hidden;height:100%;width:100%;">
	<div id="gmap_canvas" style="height:100%;width:100%;">
	</div>
</div>
<script type="text/javascript">
	function init_map(){
		var myOptions = {
			zoom:17,center:new google.maps.LatLng(-22.9666814,-46.541835100000014),mapTypeId: google.maps.MapTypeId.ROADMAP
		};
		map = new google.maps.Map(document.getElementById("gmap_canvas"), myOptions);
		marker = new google.maps.Marker({
			map: map,position: new google.maps.LatLng(-22.9666814, -46.541835100000014)
		});
		infowindow = new google.maps.InfoWindow({
			content:"<p style='overflow:hidden; line-height: 1.5;'><strong>Chocolatti Nicolatti</strong><br/>R. Jos&eacute; Domingues, 768, Bragan&ccedil;a Paulista - SP, Brasil<br/><a href='http://maps.google.com/maps?ll=-22.966728,-46.541896&z=18&t=m&hl=pt-BR&gl=BR&mapclient=embed&cid=8772891642397988176' target='new'>Ver no Google Maps</a></p>"
		});
		google.maps.event.addListener(marker, "click", function(){
			infowindow.open(map,marker);
		});
		infowindow.open(map,marker);
	}
	google.maps.event.addDomListener(window, 'load', init_map);
</script>