/* line 17, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url('../fonts/HelveticaNeueLTCom-Bd.ttf') format('truetype'), url('../fonts/HelveticaNeueLTCom-Bd.svg') format('svg'), url('../fonts/HelveticaNeueLTCom-Bd.eot') format('embedded-opentype'), url('../fonts/HelveticaNeueLTCom-Bd.woff') format('woff');
}

@font-face {
  font-family: "Helvetica-Neue-BdCn";
  src: url('../fonts/HelveticaNeueLTCom-BdCn.ttf') format('truetype'), url('../fonts/HelveticaNeueLTCom-BdCn.svg') format('svg'), url('../fonts/HelveticaNeueLTCom-BdCn.eot') format('embedded-opentype'), url('../fonts/HelveticaNeueLTCom-BdCn.woff') format('woff');
}

@font-face {
  font-family: "Helvetica-Neue-Cn";
  src: url('../fonts/HelveticaNeueLTCom-Cn.ttf') format('truetype'), url('../fonts/HelveticaNeueLTCom-Cn.svg') format('svg'), url('../fonts/HelveticaNeueLTCom-Cn.eot') format('embedded-opentype'), url('../fonts/HelveticaNeueLTCom-Cn.woff') format('woff');
}

@font-face {
  font-family: "HelveticaNeueLTPro-Cn";
  src: url('../fonts/HelveticaNeueLTPro-Cn.ttf') format('truetype'), url('../fonts/HelveticaNeueLTPro-Cn.svg') format('svg'), url('../fonts/HelveticaNeueLTPro-Cn.eot') format('embedded-opentype'), url('../fonts/HelveticaNeueLTPro-Cn.woff') format('woff');
}

@font-face {
  font-family: "HelveticaNeueLTPro-UltLt";
  src: url('../fonts/HelveticaNeueLTPro-UltLt.ttf') format('truetype'), url('../fonts/HelveticaNeueLTPro-UltLt.svg') format('svg'), url('../fonts/HelveticaNeueLTPro-UltLt.eot') format('embedded-opentype'), url('../fonts/HelveticaNeueLTPro-UltLt.woff') format('woff');
}

@font-face {
  font-family: "HelveticaNeueLTPro-UltLtCn";
  src: url('../fonts/HelveticaNeueLTPro-UltLtCn.ttf') format('truetype'), url('../fonts/HelveticaNeueLTPro-UltLtCn.svg') format('svg'), url('../fonts/HelveticaNeueLTPro-UltLtCn.eot') format('embedded-opentype'), url('../fonts/HelveticaNeueLTPro-UltLtCn.woff') format('woff');
}

/* line 6, C:/xampp/htdocs/chocolatti/sass/style.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Helvetica";
}

/* line 10, C:/xampp/htdocs/chocolatti/sass/style.scss */
.clearfix:before, .content-historia .bxslider-historia li .texto .titulo:before, .content-casa .bxslider-historia li .texto .titulo:before, .content-parceria .bxslider-historia li .texto .titulo:before, .content-casa:before, .content-parceria:before, .content-casa .bxslider-casa li:before, .content-parceria .bxslider-casa li:before, .content-parceria .bxslider-parceria li:before, .clearfix:after, .content-historia .bxslider-historia li .texto .titulo:after, .content-casa .bxslider-historia li .texto .titulo:after, .content-parceria .bxslider-historia li .texto .titulo:after, .content-casa:after, .content-parceria:after, .content-casa .bxslider-casa li:after, .content-parceria .bxslider-casa li:after, .content-parceria .bxslider-parceria li:after {
  content: " ";
  display: table;
}

/* line 15, C:/xampp/htdocs/chocolatti/sass/style.scss */
.place-card.place-card-large {
  display: none !important;
}

/* line 19, C:/xampp/htdocs/chocolatti/sass/style.scss */
.clearfix:after, .content-historia .bxslider-historia li .texto .titulo:after, .content-casa .bxslider-historia li .texto .titulo:after, .content-parceria .bxslider-historia li .texto .titulo:after, .content-casa:after, .content-parceria:after, .content-casa .bxslider-casa li:after, .content-parceria .bxslider-casa li:after, .content-parceria .bxslider-parceria li:after {
  clear: both;
}

/* line 23, C:/xampp/htdocs/chocolatti/sass/style.scss */
.clearfix, .content-historia .bxslider-historia li .texto .titulo, .content-casa .bxslider-historia li .texto .titulo, .content-parceria .bxslider-historia li .texto .titulo, .content-casa, .content-parceria, .content-casa .bxslider-casa li, .content-parceria .bxslider-casa li, .content-parceria .bxslider-parceria li {
  *zoom: 1;
}

/* line 27, C:/xampp/htdocs/chocolatti/sass/style.scss */
header {
  height: 213px;
  background-image: url('../img/bg-header.jpg?1402414799');
}
/* line 30, C:/xampp/htdocs/chocolatti/sass/style.scss */
header .bg-4-rodas {
  position: absolute;
  top: 0;
  right: 0;
  background-image: url('../img/bg-4-rodas.png?1402414799');
  background-repeat: no-repeat;
  width: 127px;
  height: 127px;
}
/* line 39, C:/xampp/htdocs/chocolatti/sass/style.scss */
header a {
  outline: none;
}
/* line 42, C:/xampp/htdocs/chocolatti/sass/style.scss */
header .container {
  background-image: url('../img/bg-folhas.png?1402414799');
  background-repeat: no-repeat;
  background-position: center 30px;
  text-align: center;
}
/* line 48, C:/xampp/htdocs/chocolatti/sass/style.scss */
header .container .logo {
  margin-top: -18px;
}
/* line 50, C:/xampp/htdocs/chocolatti/sass/style.scss */
header .container .logo img {
  margin: 0 auto;
}
/* line 54, C:/xampp/htdocs/chocolatti/sass/style.scss */
header .container .social-icons {
  float: left;
  margin-top: -45px;
}
/* line 57, C:/xampp/htdocs/chocolatti/sass/style.scss */
header .container .social-icons img {
  display: inline-block;
  padding: 5px;
}
/* line 61, C:/xampp/htdocs/chocolatti/sass/style.scss */
header .container .social-icons .popover {
  max-width: none;
}
/* line 64, C:/xampp/htdocs/chocolatti/sass/style.scss */
header .container .social-icons .popover-content {
  padding: 20px;
  width: 325px;
  font-family: "Helvetica-Neue-Cn";
}
/* line 68, C:/xampp/htdocs/chocolatti/sass/style.scss */
header .container .social-icons .popover-content .title {
  font-size: 16px;
  color: #8b8b8b;
  text-transform: uppercase;
}
/* line 73, C:/xampp/htdocs/chocolatti/sass/style.scss */
header .container .social-icons .popover-content .input {
  font-size: 14px;
  margin-top: 5px;
  width: 204px;
  padding: 10px;
  padding-bottom: 0;
  text-transform: uppercase;
}
/* line 81, C:/xampp/htdocs/chocolatti/sass/style.scss */
header .container .social-icons .popover-content #submit-news {
  margin-top: 10px;
  background-image: url('../img/btn-enviar.png?1402414799');
  background-repeat: no-repeat;
  width: 64px;
  height: 22px;
  float: right;
}
/* line 91, C:/xampp/htdocs/chocolatti/sass/style.scss */
header .container .facebook {
  width: 230px;
  margin-top: -45px;
  float: right;
}
/* line 95, C:/xampp/htdocs/chocolatti/sass/style.scss */
header .container .facebook .text {
  float: left;
  font-family: "Helvetica-Neue-BdCn";
  padding-top: 7px;
  font-size: 12px;
  color: #999999;
  text-transform: uppercase;
}
/* line 105, C:/xampp/htdocs/chocolatti/sass/style.scss */
header nav {
  width: 100%;
  background-color: #f7efef;
  height: 64px;
  border-bottom: 7px solid #efe1e1;
  text-align: center;
}
/* line 112, C:/xampp/htdocs/chocolatti/sass/style.scss */
header nav .container {
  background-image: url('../img/curva-centro.jpg?1402414799');
  background-repeat: no-repeat;
  background-position: center 3px;
}
/* line 118, C:/xampp/htdocs/chocolatti/sass/style.scss */
header nav ul.menu-left {
  float: left;
}
/* line 121, C:/xampp/htdocs/chocolatti/sass/style.scss */
header nav ul.menu-right {
  float: right;
}
/* line 124, C:/xampp/htdocs/chocolatti/sass/style.scss */
header nav ul li {
  height: 64px;
  font-family: "Helvetica-Neue-BdCn";
  display: inline-block;
  text-transform: uppercase;
  padding: 0 10px;
  padding-top: 22px;
  font-size: 14px;
  background-color: none;
  border-bottom: none;
}
/* line 135, C:/xampp/htdocs/chocolatti/sass/style.scss */
header nav ul li:hover {
  background-color: #faf4f4;
  border-bottom: 7px solid #efe1e1;
}
/* line 138, C:/xampp/htdocs/chocolatti/sass/style.scss */
header nav ul li:hover a {
  color: #6fd3d3;
}
/* line 142, C:/xampp/htdocs/chocolatti/sass/style.scss */
header nav ul li a {
  color: #b4adab;
}
/* line 144, C:/xampp/htdocs/chocolatti/sass/style.scss */
header nav ul li a:hover {
  text-decoration: none;
}

/* line 152, C:/xampp/htdocs/chocolatti/sass/style.scss */
.btn-voltar {
  margin-bottom: 40px;
  width: 170px;
  padding: 5px;
  background: url('../img/btn-voltar.png?1404312966') rgba(0, 0, 0, 0.53) no-repeat 5px center;
}
/* line 157, C:/xampp/htdocs/chocolatti/sass/style.scss */
.btn-voltar .voltar {
  padding-left: 15px;
  color: #FFF;
  text-transform: uppercase;
  font-family: "HelveticaNeueLTPro-UltLt";
  font-size: 12px;
  text-decoration: none;
}

/* line 167, C:/xampp/htdocs/chocolatti/sass/style.scss */
.content-home .bx-wrapper, .content-produto .bx-wrapper, .content-chocolate .bx-wrapper, .content-historia .bx-wrapper, .content-casa .bx-wrapper, .content-parceria .bx-wrapper {
  margin: 0;
}
/* line 169, C:/xampp/htdocs/chocolatti/sass/style.scss */
.content-home .bx-wrapper .bx-prev, .content-produto .bx-wrapper .bx-prev, .content-chocolate .bx-wrapper .bx-prev, .content-historia .bx-wrapper .bx-prev, .content-casa .bx-wrapper .bx-prev, .content-parceria .bx-wrapper .bx-prev {
  background: url('../img/seta-esquerda.png?1402414799') no-repeat;
  left: 5%;
}
/* line 173, C:/xampp/htdocs/chocolatti/sass/style.scss */
.content-home .bx-wrapper .bx-next, .content-produto .bx-wrapper .bx-next, .content-chocolate .bx-wrapper .bx-next, .content-historia .bx-wrapper .bx-next, .content-casa .bx-wrapper .bx-next, .content-parceria .bx-wrapper .bx-next {
  background: url('../img/seta-direita.png?1402414799') no-repeat;
  right: 5%;
}
/* line 178, C:/xampp/htdocs/chocolatti/sass/style.scss */
.content-home .bx-wrapper .bx-controls-direction a, .content-produto .bx-wrapper .bx-controls-direction a, .content-chocolate .bx-wrapper .bx-controls-direction a, .content-historia .bx-wrapper .bx-controls-direction a, .content-casa .bx-wrapper .bx-controls-direction a, .content-parceria .bx-wrapper .bx-controls-direction a {
  width: 47px;
  height: 70px;
  top: 47%;
}
/* line 184, C:/xampp/htdocs/chocolatti/sass/style.scss */
.content-home .bx-wrapper .bx-pager, .content-produto .bx-wrapper .bx-pager, .content-chocolate .bx-wrapper .bx-pager, .content-historia .bx-wrapper .bx-pager, .content-casa .bx-wrapper .bx-pager, .content-parceria .bx-wrapper .bx-pager {
  bottom: 0px;
}
/* line 187, C:/xampp/htdocs/chocolatti/sass/style.scss */
.content-home .bx-wrapper .bx-pager.bx-default-pager a, .content-produto .bx-wrapper .bx-pager.bx-default-pager a, .content-chocolate .bx-wrapper .bx-pager.bx-default-pager a, .content-historia .bx-wrapper .bx-pager.bx-default-pager a, .content-casa .bx-wrapper .bx-pager.bx-default-pager a, .content-parceria .bx-wrapper .bx-pager.bx-default-pager a {
  background: #FFF;
  border: none;
}
/* line 190, C:/xampp/htdocs/chocolatti/sass/style.scss */
.content-home .bx-wrapper .bx-pager.bx-default-pager a:hover, .content-produto .bx-wrapper .bx-pager.bx-default-pager a:hover, .content-chocolate .bx-wrapper .bx-pager.bx-default-pager a:hover, .content-historia .bx-wrapper .bx-pager.bx-default-pager a:hover, .content-casa .bx-wrapper .bx-pager.bx-default-pager a:hover, .content-parceria .bx-wrapper .bx-pager.bx-default-pager a:hover {
  background: #00b2af;
}
/* line 193, C:/xampp/htdocs/chocolatti/sass/style.scss */
.content-home .bx-wrapper .bx-pager.bx-default-pager a.active, .content-produto .bx-wrapper .bx-pager.bx-default-pager a.active, .content-chocolate .bx-wrapper .bx-pager.bx-default-pager a.active, .content-historia .bx-wrapper .bx-pager.bx-default-pager a.active, .content-casa .bx-wrapper .bx-pager.bx-default-pager a.active, .content-parceria .bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #00b2af;
}
/* line 199, C:/xampp/htdocs/chocolatti/sass/style.scss */
.content-home .bx-wrapper .bx-viewport, .content-produto .bx-wrapper .bx-viewport, .content-chocolate .bx-wrapper .bx-viewport, .content-historia .bx-wrapper .bx-viewport, .content-casa .bx-wrapper .bx-viewport, .content-parceria .bx-wrapper .bx-viewport {
  border: none;
  left: 0;
  background: transparent;
  -webkit-box-shadow: black 0px 0px 0px;
  -moz-box-shadow: black 0px 0px 0px;
  box-shadow: black 0px 0px 0px;
}
/* line 208, C:/xampp/htdocs/chocolatti/sass/style.scss */
.content-home .bx-wrapper .bx-viewport .bxslider li, .content-produto .bx-wrapper .bx-viewport .bxslider li, .content-chocolate .bx-wrapper .bx-viewport .bxslider li, .content-historia .bx-wrapper .bx-viewport .bxslider li, .content-casa .bx-wrapper .bx-viewport .bxslider li, .content-parceria .bx-wrapper .bx-viewport .bxslider li {
  width: 100%;
  background-size: cover;
}

/* line 216, C:/xampp/htdocs/chocolatti/sass/style.scss */
.content-produto, .content-chocolate, .content-historia, .content-casa, .content-parceria {
  width: 100%;
  background-image: url('../img/bg-produto-slider.jpg?1402414799');
  background-size: cover;
  background-repeat: no-repeat;
}
/* line 219, C:/xampp/htdocs/chocolatti/sass/style.scss */
.content-produto .bx-wrapper .bx-pager, .content-chocolate .bx-wrapper .bx-pager, .content-historia .bx-wrapper .bx-pager, .content-casa .bx-wrapper .bx-pager, .content-parceria .bx-wrapper .bx-pager {
  bottom: -60px;
}
/* line 222, C:/xampp/htdocs/chocolatti/sass/style.scss */
.content-produto .bx-wrapper .bx-pager.bx-default-pager a, .content-chocolate .bx-wrapper .bx-pager.bx-default-pager a, .content-historia .bx-wrapper .bx-pager.bx-default-pager a, .content-casa .bx-wrapper .bx-pager.bx-default-pager a, .content-parceria .bx-wrapper .bx-pager.bx-default-pager a {
  background: #FFF;
  border: none;
}
/* line 225, C:/xampp/htdocs/chocolatti/sass/style.scss */
.content-produto .bx-wrapper .bx-pager.bx-default-pager a:hover, .content-chocolate .bx-wrapper .bx-pager.bx-default-pager a:hover, .content-historia .bx-wrapper .bx-pager.bx-default-pager a:hover, .content-casa .bx-wrapper .bx-pager.bx-default-pager a:hover, .content-parceria .bx-wrapper .bx-pager.bx-default-pager a:hover {
  background: #00b2af;
}
/* line 228, C:/xampp/htdocs/chocolatti/sass/style.scss */
.content-produto .bx-wrapper .bx-pager.bx-default-pager a.active, .content-chocolate .bx-wrapper .bx-pager.bx-default-pager a.active, .content-historia .bx-wrapper .bx-pager.bx-default-pager a.active, .content-casa .bx-wrapper .bx-pager.bx-default-pager a.active, .content-parceria .bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #00b2af;
}
/* line 240, C:/xampp/htdocs/chocolatti/sass/style.scss */
.content-produto .title-slider, .content-chocolate .title-slider, .content-historia .title-slider, .content-casa .title-slider, .content-parceria .title-slider {
  padding-top: 25px;
  height: 130px;
  font-family: "HelveticaNeueLTPro-UltLt";
  margin: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.53);
  color: #FFF;
  margin-bottom: 3%;
  padding-bottom: 10px;
}
/* line 250, C:/xampp/htdocs/chocolatti/sass/style.scss */
.content-produto .title-slider .first, .content-chocolate .title-slider .first, .content-historia .title-slider .first, .content-casa .title-slider .first, .content-parceria .title-slider .first {
  font-size: 90px;
  text-transform: uppercase;
  margin-top: -4px;
}
/* line 255, C:/xampp/htdocs/chocolatti/sass/style.scss */
.content-produto .title-slider .last, .content-chocolate .title-slider .last, .content-historia .title-slider .last, .content-casa .title-slider .last, .content-parceria .title-slider .last {
  line-height: 140%;
  font-size: 14px;
  font-family: "HelveticaNeueLTPro-Cn";
  padding-top: 3px;
}
/* line 260, C:/xampp/htdocs/chocolatti/sass/style.scss */
.content-produto .title-slider .last a, .content-chocolate .title-slider .last a, .content-historia .title-slider .last a, .content-casa .title-slider .last a, .content-parceria .title-slider .last a {
  color: #FFF;
  text-decoration: underline;
}
/* line 266, C:/xampp/htdocs/chocolatti/sass/style.scss */
.content-produto .controls-direction, .content-chocolate .controls-direction, .content-historia .controls-direction, .content-casa .controls-direction, .content-parceria .controls-direction {
  position: absolute;
  width: 47px;
  height: 70px;
  top: 63%;
}
/* line 267, C:/xampp/htdocs/chocolatti/sass/style.scss */
.content-produto .controls-direction:hover, .content-chocolate .controls-direction:hover, .content-historia .controls-direction:hover, .content-casa .controls-direction:hover, .content-parceria .controls-direction:hover {
  cursor: pointer;
}
/* line 275, C:/xampp/htdocs/chocolatti/sass/style.scss */
.content-produto .content-slider, .content-chocolate .content-slider, .content-historia .content-slider, .content-casa .content-slider, .content-parceria .content-slider {
  position: relative;
  text-align: center;
}
/* line 278, C:/xampp/htdocs/chocolatti/sass/style.scss */
.content-produto .content-slider .container, .content-chocolate .content-slider .container, .content-historia .content-slider .container, .content-casa .content-slider .container, .content-parceria .content-slider .container {
  padding-left: 7%;
  margin-top: 5%;
}
/* line 282, C:/xampp/htdocs/chocolatti/sass/style.scss */
.content-produto .content-slider .border-image, .content-chocolate .content-slider .border-image, .content-historia .content-slider .border-image, .content-casa .content-slider .border-image, .content-parceria .content-slider .border-image {
  margin: 0 auto;
  position: relative;
  width: 250px;
  height: 250px;
  float: left;
  margin-right: 5px;
  overflow: hidden;
  border: 14px solid rgba(127, 96, 91, 0.66);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  margin: 30px;
}
@media screen and (min-width: 1360px) {
  /* line 293, C:/xampp/htdocs/chocolatti/sass/style.scss */
  .content-produto .content-slider .border-image.last, .content-chocolate .content-slider .border-image.last, .content-historia .content-slider .border-image.last, .content-casa .content-slider .border-image.last, .content-parceria .content-slider .border-image.last {
    margin-left: 31%;
  }
}
/* line 298, C:/xampp/htdocs/chocolatti/sass/style.scss */
.content-produto .content-slider .border-image .image, .content-chocolate .content-slider .border-image .image, .content-historia .content-slider .border-image .image, .content-casa .content-slider .border-image .image, .content-parceria .content-slider .border-image .image {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}
/* line 304, C:/xampp/htdocs/chocolatti/sass/style.scss */
.content-produto .content-slider .border-image .text, .content-chocolate .content-slider .border-image .text, .content-historia .content-slider .border-image .text, .content-casa .content-slider .border-image .text, .content-parceria .content-slider .border-image .text {
  display: none;
  position: absolute;
  color: #FFF;
  font-family: "HelveticaNeueLTPro-UltLt";
  font-size: 32px;
  background: rgba(0, 0, 0, 0.85);
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  text-align: center;
  text-transform: uppercase;
}
/* line 319, C:/xampp/htdocs/chocolatti/sass/style.scss */
.content-produto .content-slider .border-image:last-child, .content-chocolate .content-slider .border-image:last-child, .content-historia .content-slider .border-image:last-child, .content-casa .content-slider .border-image:last-child, .content-parceria .content-slider .border-image:last-child {
  margin-right: 0;
}
/* line 321, C:/xampp/htdocs/chocolatti/sass/style.scss */
.content-produto .content-slider .border-image:last-child .text, .content-chocolate .content-slider .border-image:last-child .text, .content-historia .content-slider .border-image:last-child .text, .content-casa .content-slider .border-image:last-child .text, .content-parceria .content-slider .border-image:last-child .text {
  padding-top: 80px;
}
/* line 326, C:/xampp/htdocs/chocolatti/sass/style.scss */
.content-produto .content-slider .border-image:hover .text, .content-chocolate .content-slider .border-image:hover .text, .content-historia .content-slider .border-image:hover .text, .content-casa .content-slider .border-image:hover .text, .content-parceria .content-slider .border-image:hover .text {
  display: block;
  cursor: pointer;
}

/* line 334, C:/xampp/htdocs/chocolatti/sass/style.scss */
.content-chocolate {
  background-image: url('../img/bg-chocolate.jpg?1402414799');
}
/* line 338, C:/xampp/htdocs/chocolatti/sass/style.scss */
.content-chocolate .product-slider .title-slider {
  margin-bottom: 10px;
}
/* line 340, C:/xampp/htdocs/chocolatti/sass/style.scss */
.content-chocolate .product-slider .title-slider .last {
  padding-top: 23px;
}
/* line 345, C:/xampp/htdocs/chocolatti/sass/style.scss */
.content-chocolate #produtos {
  display: none;
}
/* line 350, C:/xampp/htdocs/chocolatti/sass/style.scss */
.content-chocolate .content-slider .container {
  padding-left: 5%;
}
/* line 352, C:/xampp/htdocs/chocolatti/sass/style.scss */
.content-chocolate .content-slider .container.emporio {
  padding-left: 22%;
}
/* line 356, C:/xampp/htdocs/chocolatti/sass/style.scss */
.content-chocolate .content-slider .border-image {
  display: block;
  width: 145px;
  height: 145px;
  margin-bottom: 10px;
  margin-top: 5px;
  outline: none;
}
/* line 363, C:/xampp/htdocs/chocolatti/sass/style.scss */
.content-chocolate .content-slider .border-image .text {
  font-size: 12px;
  padding-top: 52px;
}
/* line 366, C:/xampp/htdocs/chocolatti/sass/style.scss */
.content-chocolate .content-slider .border-image .text:last-child {
  font-size: 12px;
  padding-top: 52px;
}

/* line 374, C:/xampp/htdocs/chocolatti/sass/style.scss */
.content-historia, .content-casa, .content-parceria {
  background-image: url('../img/nossa-historia.jpg?1402414799');
}
/* line 379, C:/xampp/htdocs/chocolatti/sass/style.scss */
.content-historia .title-slider .last, .content-casa .title-slider .last, .content-parceria .title-slider .last {
  padding-top: 4px;
}
/* line 384, C:/xampp/htdocs/chocolatti/sass/style.scss */
.content-historia .bx-wrapper .bx-pager, .content-casa .bx-wrapper .bx-pager, .content-parceria .bx-wrapper .bx-pager {
  bottom: -12px;
}
/* line 387, C:/xampp/htdocs/chocolatti/sass/style.scss */
.content-historia .bx-wrapper .bx-pager.bx-default-pager a, .content-casa .bx-wrapper .bx-pager.bx-default-pager a, .content-parceria .bx-wrapper .bx-pager.bx-default-pager a {
  background: #FFF;
  border: none;
}
/* line 390, C:/xampp/htdocs/chocolatti/sass/style.scss */
.content-historia .bx-wrapper .bx-pager.bx-default-pager a:hover, .content-casa .bx-wrapper .bx-pager.bx-default-pager a:hover, .content-parceria .bx-wrapper .bx-pager.bx-default-pager a:hover {
  background: #00b2af;
}
/* line 393, C:/xampp/htdocs/chocolatti/sass/style.scss */
.content-historia .bx-wrapper .bx-pager.bx-default-pager a.active, .content-casa .bx-wrapper .bx-pager.bx-default-pager a.active, .content-parceria .bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #00b2af;
}
/* line 400, C:/xampp/htdocs/chocolatti/sass/style.scss */
.content-historia .bx-wrapper .bx-controls-direction a, .content-casa .bx-wrapper .bx-controls-direction a, .content-parceria .bx-wrapper .bx-controls-direction a {
  width: 47px;
  height: 70px;
  top: 43%;
}
@media screen and (min-width: 1360px) {
  /* line 409, C:/xampp/htdocs/chocolatti/sass/style.scss */
  .content-historia .bxslider-historia li .container, .content-casa .bxslider-historia li .container, .content-parceria .bxslider-historia li .container {
    margin-top: 6%;
  }
}
@media screen and (max-width: 1360px) {
  /* line 409, C:/xampp/htdocs/chocolatti/sass/style.scss */
  .content-historia .bxslider-historia li .container, .content-casa .bxslider-historia li .container, .content-parceria .bxslider-historia li .container {
    margin-top: 5%;
  }
}
/* line 417, C:/xampp/htdocs/chocolatti/sass/style.scss */
.content-historia .bxslider-historia li .imagem, .content-casa .bxslider-historia li .imagem, .content-parceria .bxslider-historia li .imagem {
  max-width: 30%;
  width: 25%;
  height: auto;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  border: 20px solid rgba(83, 66, 64, 0.52);
  float: left;
  overflow: hidden;
  position: relative;
}
/* line 426, C:/xampp/htdocs/chocolatti/sass/style.scss */
.content-historia .bxslider-historia li .imagem .bg, .content-casa .bxslider-historia li .imagem .bg, .content-parceria .bxslider-historia li .imagem .bg {
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 437, C:/xampp/htdocs/chocolatti/sass/style.scss */
.content-historia .bxslider-historia li .texto, .content-casa .bxslider-historia li .texto, .content-parceria .bxslider-historia li .texto {
  float: left;
  margin-left: 50px;
  max-width: 60%;
}
/* line 443, C:/xampp/htdocs/chocolatti/sass/style.scss */
.content-historia .bxslider-historia li .texto .titulo .etapa, .content-casa .bxslider-historia li .texto .titulo .etapa, .content-parceria .bxslider-historia li .texto .titulo .etapa {
  float: left;
  width: 60px;
  height: 60px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  color: #a9a8a7;
  border: 5px solid #a9a8a7;
  text-align: center;
  font-family: "HelveticaNeueLTPro-Cn";
  font-size: 40px;
  padding-top: 5px;
}
/* line 455, C:/xampp/htdocs/chocolatti/sass/style.scss */
.content-historia .bxslider-historia li .texto .titulo .ano, .content-casa .bxslider-historia li .texto .titulo .ano, .content-parceria .bxslider-historia li .texto .titulo .ano {
  margin-left: 20px;
  font-family: "HelveticaNeueLTPro-UltLtCn";
  float: left;
  color: #FFF;
  padding-top: 10px;
  font-size: 60px;
  margin-top: -12px;
}
/* line 465, C:/xampp/htdocs/chocolatti/sass/style.scss */
.content-historia .bxslider-historia li .texto .conteudo, .content-casa .bxslider-historia li .texto .conteudo, .content-parceria .bxslider-historia li .texto .conteudo {
  display: block;
  font-family: "HelveticaNeueLTPro-Cn";
  color: #FFF;
  font-size: 18px;
  line-height: 130%;
  margin-top: 20px;
}

/* line 477, C:/xampp/htdocs/chocolatti/sass/style.scss */
.content-casa, .content-parceria {
  position: relative;
}
/* line 481, C:/xampp/htdocs/chocolatti/sass/style.scss */
.content-casa .title-slider, .content-parceria .title-slider {
  position: absolute;
  z-index: 200;
  top: 0;
  padding-top: 18px;
}
/* line 486, C:/xampp/htdocs/chocolatti/sass/style.scss */
.content-casa .title-slider .first, .content-parceria .title-slider .first {
  margin-top: 2px;
}
/* line 489, C:/xampp/htdocs/chocolatti/sass/style.scss */
.content-casa .title-slider .last, .content-parceria .title-slider .last {
  padding-top: 0;
}
/* line 494, C:/xampp/htdocs/chocolatti/sass/style.scss */
.content-casa .bx-wrapper .bx-pager, .content-parceria .bx-wrapper .bx-pager {
  bottom: 0px;
}
/* line 498, C:/xampp/htdocs/chocolatti/sass/style.scss */
.content-casa .bx-wrapper .bx-controls-direction a, .content-parceria .bx-wrapper .bx-controls-direction a {
  width: 47px;
  height: 70px;
  top: 56.6%;
}
/* line 506, C:/xampp/htdocs/chocolatti/sass/style.scss */
.content-casa .bxslider-casa li, .content-parceria .bxslider-casa li {
  position: absolute;
  z-index: 100;
  top: 0;
  background-size: cover;
  background-repeat: no-repeat;
}

/* line 519, C:/xampp/htdocs/chocolatti/sass/style.scss */
.content-parceria .title-slider .first {
  margin-top: 0px;
}
/* line 522, C:/xampp/htdocs/chocolatti/sass/style.scss */
.content-parceria .title-slider .last {
  padding-top: 14px;
}
/* line 527, C:/xampp/htdocs/chocolatti/sass/style.scss */
.content-parceria .bxslider-parceria li {
  position: absolute;
  z-index: 100;
  top: 0;
  background-image: url('../img/bg-parceria.jpg?1402414799');
}
/* line 533, C:/xampp/htdocs/chocolatti/sass/style.scss */
.content-parceria .bxslider-parceria li .content {
  margin-top: 150px;
  text-align: center;
}
/* line 536, C:/xampp/htdocs/chocolatti/sass/style.scss */
.content-parceria .bxslider-parceria li .content .logos {
  width: 266px;
  height: 130px;
  margin-top: 30px;
  float: left;
}
/* line 541, C:/xampp/htdocs/chocolatti/sass/style.scss */
.content-parceria .bxslider-parceria li .content .logos:hover {
  cursor: pointer;
}
/* line 543, C:/xampp/htdocs/chocolatti/sass/style.scss */
.content-parceria .bxslider-parceria li .content .logos:hover .logo-parceiro, .content-parceria .bxslider-parceria li .content .logos:hover .logo-parceiro-hover {
  display: none;
}
/* line 546, C:/xampp/htdocs/chocolatti/sass/style.scss */
.content-parceria .bxslider-parceria li .content .logos:hover .logo-parceiro-hover {
  display: block;
}
/* line 550, C:/xampp/htdocs/chocolatti/sass/style.scss */
.content-parceria .bxslider-parceria li .content .logos .logo-parceiro, .content-parceria .bxslider-parceria li .content .logos .logo-parceiro-hover {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
/* line 556, C:/xampp/htdocs/chocolatti/sass/style.scss */
.content-parceria .bxslider-parceria li .content .logos .logo-parceiro-hover {
  display: none;
}

/* line 565, C:/xampp/htdocs/chocolatti/sass/style.scss */
.content-contato {
  background-image: url('../img/bg-contato.jpg?1402414799');
  background-position: center left;
  background-repeat: no-repeat;
  background-size: 100% auto;
  position: relative;
  overflow: hidden;
}
/* line 2, C:/xampp/htdocs/chocolatti/sass/_contact.scss */
.content-contato .title {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.62);
}
/* line 5, C:/xampp/htdocs/chocolatti/sass/_contact.scss */
.content-contato .title .container {
  padding-top: 1%;
}
/* line 7, C:/xampp/htdocs/chocolatti/sass/_contact.scss */
.content-contato .title .container h1 {
  color: #FFF;
  text-transform: uppercase;
  font-family: "HelveticaNeueLTPro-UltLt";
  font-size: 70px;
}
@media screen and (min-width: 1380px) {
  /* line 7, C:/xampp/htdocs/chocolatti/sass/_contact.scss */
  .content-contato .title .container h1 {
    font-size: 90px;
  }
}
/* line 18, C:/xampp/htdocs/chocolatti/sass/_contact.scss */
.content-contato .radius {
  position: absolute;
  background: url('../img/radius.png?1406805127') no-repeat left center;
  top: 0px;
  right: 0;
  height: 100%;
  width: 28%;
  z-index: 100;
}
/* line 27, C:/xampp/htdocs/chocolatti/sass/_contact.scss */
.content-contato .mapa {
  background-color: #FFF;
  position: absolute;
  top: 0px;
  right: 0;
  height: 100%;
  width: 28%;
  -webkit-border-radius: 100% 0 0 100%;
  -moz-border-radius: 100% 0 0 100%;
  -ms-border-radius: 100% 0 0 100%;
  -o-border-radius: 100% 0 0 100%;
  border-radius: 100% 0 0 100%;
  overflow: hidden;
}
/* line 36, C:/xampp/htdocs/chocolatti/sass/_contact.scss */
.content-contato .mapa iframe {
  -webkit-border-radius: 100% 0 0 100%;
  -moz-border-radius: 100% 0 0 100%;
  -ms-border-radius: 100% 0 0 100%;
  -o-border-radius: 100% 0 0 100%;
  border-radius: 100% 0 0 100%;
}
/* line 55, C:/xampp/htdocs/chocolatti/sass/_contact.scss */
.content-contato .contato .col-md-3 {
  margin-top: 15px;
  height: 115px;
}
/* line 58, C:/xampp/htdocs/chocolatti/sass/_contact.scss */
.content-contato .contato .col-md-3 img {
  display: block;
  margin: 0 auto;
  padding: 10px 0;
}
/* line 63, C:/xampp/htdocs/chocolatti/sass/_contact.scss */
.content-contato .contato .col-md-3 p {
  font-family: "HelveticaNeueLTPro-Cn";
  color: #FFF;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
}
/* line 70, C:/xampp/htdocs/chocolatti/sass/_contact.scss */
.content-contato .contato .col-md-3.right {
  border-right: 1px solid #8d7b6b;
}
/* line 73, C:/xampp/htdocs/chocolatti/sass/_contact.scss */
.content-contato .contato .col-md-3.left {
  border-left: 1px solid #8d7b6b;
}
/* line 79, C:/xampp/htdocs/chocolatti/sass/_contact.scss */
.content-contato .contato-form .mrg25 {
  margin-top: 20px;
  margin-right: 25%;
}
/* line 82, C:/xampp/htdocs/chocolatti/sass/_contact.scss */
.content-contato .contato-form .mrg25 h1 {
  margin-bottom: 15px;
  font-size: 28px;
  font-family: "HelveticaNeueLTPro-UltLt";
  color: #FFF;
  text-shadow: 0px 0px 10px black;
  text-transform: uppercase;
}
/* line 90, C:/xampp/htdocs/chocolatti/sass/_contact.scss */
.content-contato .contato-form .mrg25 p {
  font-size: 14px;
  line-height: 130%;
  margin-bottom: 15px;
  color: #FFF;
  text-shadow: 0px 0px 10px black;
  font-family: "HelveticaNeueLTPro-Cn";
  text-transform: uppercase;
}
/* line 101, C:/xampp/htdocs/chocolatti/sass/_contact.scss */
.content-contato .contato-form .form .col-md-3 {
  padding: 0;
}
/* line 104, C:/xampp/htdocs/chocolatti/sass/_contact.scss */
.content-contato .contato-form .form input {
  width: 100%;
  margin: 0px auto;
  margin-bottom: 10px;
  display: block;
  font-family: "HelveticaNeueLTPro-Cn";
}
/* line 111, C:/xampp/htdocs/chocolatti/sass/_contact.scss */
.content-contato .contato-form .form ::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #6a3e34;
  text-transform: uppercase;
}
/* line 115, C:/xampp/htdocs/chocolatti/sass/_contact.scss */
.content-contato .contato-form .form :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #6a3e34;
  text-transform: uppercase;
  opacity: 1;
}
/* line 120, C:/xampp/htdocs/chocolatti/sass/_contact.scss */
.content-contato .contato-form .form ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #6a3e34;
  text-transform: uppercase;
  opacity: 1;
}
/* line 125, C:/xampp/htdocs/chocolatti/sass/_contact.scss */
.content-contato .contato-form .form :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #6a3e34;
  text-transform: uppercase;
}
/* line 129, C:/xampp/htdocs/chocolatti/sass/_contact.scss */
.content-contato .contato-form .form textarea {
  width: 100%;
  height: 62px;
  font-family: "HelveticaNeueLTPro-Cn";
}
/* line 134, C:/xampp/htdocs/chocolatti/sass/_contact.scss */
.content-contato .contato-form .form textarea::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #6a3e34;
  text-transform: uppercase;
}
/* line 138, C:/xampp/htdocs/chocolatti/sass/_contact.scss */
.content-contato .contato-form .form textarea:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #6a3e34;
  text-transform: uppercase;
  opacity: 1;
}
/* line 143, C:/xampp/htdocs/chocolatti/sass/_contact.scss */
.content-contato .contato-form .form textarea::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #6a3e34;
  text-transform: uppercase;
  opacity: 1;
}
/* line 148, C:/xampp/htdocs/chocolatti/sass/_contact.scss */
.content-contato .contato-form .form textarea:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #6a3e34;
  text-transform: uppercase;
}
/* line 153, C:/xampp/htdocs/chocolatti/sass/_contact.scss */
.content-contato .contato-form p {
  font-family: "HelveticaNeueLTPro-Cn";
  font-size: 13px;
  color: #FFF;
}
/* line 158, C:/xampp/htdocs/chocolatti/sass/_contact.scss */
.content-contato .contato-form input[type="submit"] {
  float: right;
  margin-right: 26.3%;
  background-color: transparent;
  border: none;
  background: url('../img/check.png?1402419599') #1b0e08 no-repeat 10px center;
  width: 110px;
  height: 35px;
  color: #FFF;
  font-size: 16px;
  font-family: "HelveticaNeueLTPro-Cn";
  margin-top: -15px;
}

/* line 574, C:/xampp/htdocs/chocolatti/sass/style.scss */
.footer {
  background-color: #00b2af;
  width: 100%;
  height: 72px;
}
/* line 579, C:/xampp/htdocs/chocolatti/sass/style.scss */
.footer .container {
  position: relative;
}
/* line 581, C:/xampp/htdocs/chocolatti/sass/style.scss */
.footer .container .address {
  padding: 20px 30px;
  text-align: left;
  color: #FFF;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 100;
  font-family: "HelveticaNeueLTPro-Cn";
  background: url('../img/point.png?1402414799') no-repeat rgba(51, 193, 191, 0.85) 30px center;
  border-top: 12px solid #c2edec;
  height: 70px;
  width: 350px;
  float: left;
}
/* line 583, C:/xampp/htdocs/chocolatti/sass/style.scss */
.footer .container .address p {
  padding-left: 30px;
  line-height: 120%;
}
/* line 599, C:/xampp/htdocs/chocolatti/sass/style.scss */
.footer .container .copyright {
  font-family: "HelveticaNeueLTPro-Cn";
  font-size: 12px;
  text-align: right;
  float: right;
  padding: 30px 5px;
  color: #FFF;
}
/* line 607, C:/xampp/htdocs/chocolatti/sass/style.scss */
.footer .container .developer {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 20px;
  bottom: 0;
  background-color: rgba(51, 193, 191, 0.85);
  background-image: url('../img/logo-desenvolvedor.png?1403544999');
  background-position: center center;
  background-repeat: no-repeat;
}
/* line 618, C:/xampp/htdocs/chocolatti/sass/style.scss */
.footer .container .signature {
  position: absolute;
  right: 20px;
  bottom: 5px;
  width: 105px;
  height: 20px;
  background-image: url('../img/assinatura.png?1405612956');
  background-position: center center;
  background-repeat: no-repeat;
}

/* line 1, C:/xampp/htdocs/chocolatti/sass/_colorbox.scss */
#cboxPrevious {
  position: absolute;
  width: 47px !important;
  height: 70px;
  left: 3%;
  top: 47%;
  background: url('../img/seta-esquerda.png?1402414799') no-repeat !important;
  content: none;
}

/* line 10, C:/xampp/htdocs/chocolatti/sass/_colorbox.scss */
#cboxNext {
  position: absolute;
  width: 47px !important;
  height: 70px;
  right: 3%;
  top: 47%;
  background: url('../img/seta-direita.png?1402414799') no-repeat !important;
  content: none;
}

/* line 20, C:/xampp/htdocs/chocolatti/sass/_colorbox.scss */
#cboxClose {
  position: absolute;
  top: 5%;
  right: 2%;
  display: block;
  background: url('../img/bg-close.png?1402426114') no-repeat top center !important;
  width: 38px !important;
  height: 19px;
  text-indent: -9999px;
}

/* line 30, C:/xampp/htdocs/chocolatti/sass/_colorbox.scss */
#cboxCurrent {
  position: absolute;
  bottom: 24px;
  left: 40%;
  font-size: 16px;
  color: #a9a8a7;
  font-family: "HelveticaNeueLTPro-Cn";
}

/* line 39, C:/xampp/htdocs/chocolatti/sass/_colorbox.scss */
#cboxLoadedContent .item {
  width: 100%;
  height: 100%;
  background-size: 100% auto;
  background-position: center;
}
/* line 44, C:/xampp/htdocs/chocolatti/sass/_colorbox.scss */
#cboxLoadedContent .item .details {
  height: 60px;
  background-color: rgba(0, 0, 0, 0.58);
  width: 100%;
  position: absolute;
  bottom: 0;
  color: #FFF;
  text-transform: uppercase;
  font-family: "HelveticaNeueLTPro-Cn";
  font-size: 16px;
  padding: 20px;
}
/* line 55, C:/xampp/htdocs/chocolatti/sass/_colorbox.scss */
#cboxLoadedContent .item .details .content {
  width: 100%;
  height: 60px;
  position: relative;
}
/* line 59, C:/xampp/htdocs/chocolatti/sass/_colorbox.scss */
#cboxLoadedContent .item .details .content .text {
  position: absolute;
  left: 0;
  max-width: 40%;
}
/* line 64, C:/xampp/htdocs/chocolatti/sass/_colorbox.scss */
#cboxLoadedContent .item .details .content .share {
  position: absolute;
  right: 0;
  height: 30px;
}
/* line 69, C:/xampp/htdocs/chocolatti/sass/_colorbox.scss */
#cboxLoadedContent .item .details .content .share span {
  float: left;
  margin-top: 5px;
}
/* line 73, C:/xampp/htdocs/chocolatti/sass/_colorbox.scss */
#cboxLoadedContent .item .details .content .share p {
  float: left;
}
/* line 76, C:/xampp/htdocs/chocolatti/sass/_colorbox.scss */
#cboxLoadedContent .item .details .content .share .fb-share-button {
  float: left;
  margin-left: 10px;
  margin-top: -7px;
}
/* line 81, C:/xampp/htdocs/chocolatti/sass/_colorbox.scss */
#cboxLoadedContent .item .details .content .share .twitter {
  float: left;
  margin-left: 10px;
  margin-top: -2px;
}
/* line 86, C:/xampp/htdocs/chocolatti/sass/_colorbox.scss */
#cboxLoadedContent .item .details .content .share .gplus {
  float: left !important;
  width: 75px !important;
  margin-left: -20px !important;
  margin-top: -4px !important;
}

/* line 100, C:/xampp/htdocs/chocolatti/sass/_colorbox.scss */
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {
  outline: none;
}
